<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-img src="../../assets/img/logo.png"></ion-img>
    <ion-buttons slot="end">
      <ion-button (click)="actionSheet()" >
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/linterna']" (click)="mostrarAlert('Este es un alert','Normalmente son usados para mostrar informacion de importancia al usuario, en este caso, es solo un ejemplo')">
        <ion-icon name="newspaper-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/login">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card *ngFor="let card of cards">
      <ion-card-header>
        <ion-img [src]="card.img"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <ion-button fill="clear" color="dark">
          <ion-icon name="logo-youtube"></ion-icon>
          <p>{{card.titulo}}</p>
        </ion-button>
        <ion-button fill="clear" color="dark">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-text>{{card.asesor}}</ion-text>
        </ion-button>
        <ion-chip fill="clear" color="dark">
          <ion-icon name="document-outline"></ion-icon>
          <ion-text>Temas de la clase</ion-text>
        </ion-chip>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-segment value="CALL" (ionChange)="segment($event)" >
    <ion-segment-button value="MATERIAL">
      <ion-icon name="book-outline"></ion-icon>      <ion-label>MATERIAL</ion-label>
    </ion-segment-button>
    <ion-segment-button value="VIDEOS">
      <ion-icon name="play-outline"></ion-icon>      <ion-label>VIDEOS</ion-label>
    </ion-segment-button>
    <ion-segment-button value="DESAFIOS">
      <ion-icon name="code-working-outline"></ion-icon>      <ion-label>DESAFIOS</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
